
<table>
    <tr>
        <th>Alert</th>
        <th>Created at</th>
    </tr>
    <% if @alerts.any? %>
        <% @alerts.each do |alert| %>
            <tr>
            <td><%= alert.alert_type %></td>
            <td><%= alert.created_at %></td>
            </tr>
        <% end %> 
        <%= paginate @alerts %> <%# This will render the pagination links %>
    <% else %>
        <tr>
            <td colspan="2">No alerts found</td>
        </tr>
    <% end %>
</table>
