
<% content_for :head do %>
    <%= stylesheet_link_tag "new" %>
<% end %>

<div class= "container">
  <main class="form-signin">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h1 class="h3 mb-3 fw-normal"><span class="text-orange">P</span>lease sign in</h1>

      <div class="form-floating">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "floatingInput", placeholder: "E-mail" %>
        <label for="floatingInput">E-mail</label>
      </div>
      <div class="form-floating">
        <%= f.password_field :password, class: "form-control", id: "floatingPassword", placeholder: "Password" %>
        <label for="floatingPassword">Password</label>
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <% end %>
  </main>
</div>